/* ================================================ */
/* COMPONENT - FOOTER */
/* ================================================ */
.footer{
    height: 150px;
    background-image: linear-gradient(rgba(255, 87, 51, 0), var(--color-maincolor));
    position: relative;
    // margin: 45px 0 0 0;

    &__redes{
        position: absolute;
        bottom: 2.6rem;
        left: 0px;
        right: 0px;
        &--items{
            display: flex;
            align-items: center;
            justify-content: center;
            top: calc(42% - 90px);
            list-style-type: none;
            padding: 0;

            li{
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 35px;
                    width: 35px;
                    margin: 0px 10px 0px 10px;
                    font-size: 25px;
                    color: #fff;
                    transition: 0.5s ease;
        
                    &:hover{
                        transform: scale(1.2);
                        color: #fff;
                    }
                }   
            }
        }
    }
    
    p{
        font-family: var(--font-paragraph);
        font-size: 10pt;
        color: #fff;
        position: absolute;
        bottom: 1.3rem;
        left: 0px;
        right: 0px;
    }

    span{
        font-family: var(--font-paragraph);
        font-size: 10pt;
        color: #fff;
        position: absolute;
        bottom: 1rem;
        left: 0px;
        right: 0px;
    }

}
