.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;

    &__spacemenu{
        width: 80px;
        height: 110px;

        @include md-4(){
            height: 0;
        }
    }

    span{
        font-family: var(--font-subtitle-semibold);
        font-size: 24pt;
        color: var(--color-secondarycolor)
    }

    &__title {
        max-width: 12rem;
    }

    &__container{
        width: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        margin-top: 1rem;

        @include md-2 {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
        }

        @include md-3 {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, auto);
        }
    }

    &__card {
        width: 17rem;
        height: 10rem;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
        overflow: hidden;
        position: relative;
        border-radius: .5rem;
        // transition: all 0.3s ease-in-out;
        &:hover{
            bottom: 0;

            .projects__cardinfo{
                bottom: 0;
            }
        }
    }

    &__cardimage{
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        cursor:pointer;
        transition: 1s;

        img{
           width: 100%;
           height: 100%;
           background-size: 100% 100%;
           background-repeat: no-repeat;
           background-size: cover;
        }
    }

    &__cardinfo{
        position: absolute;
        bottom: -100%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, .3);
        border-radius: .5rem;
        cursor: pointer;
        backdrop-filter: blur(10px);
        transition: 0.2s;

        h1 {
            font-family: var(--font-subtitle-semibold);
            font-size: 13pt;
            color: #fff;
            margin: 0;

            line-height: 40px;
            font-weight: bold;
            letter-spacing: 1px;
            transition: all 0.3s ease-in-out;

            &:hover{
               color: #FF9DA9;
            }
        }
  
        span {
            font-size: 11pt;
            color: #fff;
            transition: all 0.3s ease-in-out;

            &:hover{
                color: #FF9DA9;
            }
        }
    }

    &__icons{
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 5px 0 5px 0;
        padding: 0;

        li{
            margin-left: 0;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 15px 0 15px;

                ion-icon{
                    height: 35px;
                    width: 35px;
                    color: #fff;
                    transition: all 0.3s ease-in-out;

                    &:hover{
                        color: #FF9DA9;
                    }
                }
            }
        }
    }
}