@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 600;
  color: rgba(198, 195, 214);
  transition: 0.3s;
}
