:root {
    --font-subtitle: 'Poppins-Bold', sans-serif;
    --font-subtitle-semibold: 'Poppins-Semibold', sans-serif;
    --font-paragraph: 'Poppins-Regular', sans-serif;
    --color-maincolor: #F1919C;
    --color-secondarycolor: #81CCD7
}